{%- include 'bold-ro' -%}
{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}<div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&amp;','%26'}}" data-description="{{ product.description | escape }}" data-price="{{ variant.price | money_without_currency }}" data-currency="{{ shop.currency }}"></div>
<!-- IORelatedProduct -->
<div id="io-related-prd-id" style="float: left; clear: both; width: 100%" data-id="{{product.id}}"></div>{{shop.metafields.grrelated_ns.grrelated_key}}